// variables
$mobile: "max-width:550px";

// colors
$background: "#F0FDED";
$input: "#EDF2EC";
$placeholder: "#AFB7AE";
$clickgreen: "#2D6C1F";
$green: "#529D41";
$red: "#e04545";
$black: "#484545";
$edit: "#EDF2EC";
$footer: "#A7BCA3";
$header: "##2F4E28";
$footer: "#A7BCA3";
