// variables
$mobile: "max-width: 900px";
$desktop: "min-width: 901px";
$tablet: "max-width: 1380px";
$background: #f0fded;
$input: #edf2ec;
$placeholder: #afb7ae;
$clickgreen: #2d6c1f;
$green: #529d41;
$red: #e04545;
$black: #484545;
$edit: #edf2ec;
$footer: #a7bca3;
$header: #2f4e28;
